.rowCart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0.5rem;
    
    & img{
        width:10%
    }
}

.seguirComprando{
    text-decoration: none;
    color:black;
    &:hover{
        color:black}
}

    