.cart-widget{
    display: flex;
    align-items: center;
    gap:0.5em;
    padding: 1em;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    
    &-active {
        visibility: visible;
        opacity: 1;
    }
}


.cartIcon{
    color:black;
    font-size: 24px;
}

.cartSpan{
    font-size: 0.9em;
    color: black;
}
