.listContainerTitle{
    color:#F21D56;
    font-weight: 500;
}

.listContainer{
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.btn{
    background-color:#F21D56;
    border-color:#F21D56;
    color:white
}

h2{
    color:black;

}

h3, h4{
    color:#F21D56;

}