
.header{
    background-color: white;
    color:black;
    position: sticky;
    width: 100%;
    height: auto;
}

.headerLogo{
    width: 120px;
    margin:0.5rem
}
    
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em;
}
    
    
.navbar{
    justify-content: left;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbarLink{
    text-decoration: none;
    color:black
}

